.slider{background: linear-gradient(78.83deg, #FFE6E6 8.52%, #F5FFFE 68.88%, #FFFFFF 101.74%);
    width: 100% !important;
 }
.slider h1{
    font-family: Inter;
font-weight: 600;
font-size: 60px;
line-height: 145%;
letter-spacing: -2%;
text-transform: capitalize;
color: #393280;

}
.slider b{
    font-family: Inter;
font-weight: 500;
font-size: 22px;
line-height: 180%;
letter-spacing: 4%;
color: #393280CC;

}
.slider .btnSlider{width: 197px;
    height: 61px;
    top: 401px;
    left: 149px;
  color: #393280;
  border: 1px solid #393280;
  text-align: center;
  
    }
    .slider ul{
        width: 132px;
height: 39px;
top: 506px;
left: 149px;
border-width: 1px;

    }


    .circle {
        width: 39px;
        height: 39px;
        border: 2px solid #ED553B; /* الأزرق */
        border-radius: 50%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .inner-dot {
        width: 10px;
        height: 10px;
        background-color: #ff5b5b; /* الأحمر */
        border-radius: 50%;
      }
      
      .small-circles {
        display: flex;
        gap: 8px; /* مسافة بين الدوائر الصغيرة */
      }
      
      .small-circle {
        width: 8px;
        height: 8px;
        background-color: #c4c4c4; /* رمادي */
        border-radius: 50%;
      }
      .section-title {
        color: #393280;

        font-family: Inter;
font-weight: 700;
font-size: 32px;
line-height: 44px;
letter-spacing: 0%;

      }
  .card-title{
  color: #393280;
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  
  }
      .card img {
        height: 200px;
        object-fit: cover;
      }
  
      .view-more-btn {
        border: 1px solid #393280;
     
        // color: #000;
        transition: all 0.3s ease;
        color: #393280;
        width: 197;
        height: 61;
        top: 483px;
        left: 533px;
        border-radius: 7px;
        border-width: 1px;
        
      }
  
      // .view-more-btn:hover {
      //   background-color: #000;
      //   color: white;
      // }
      .promo-card {
        border: none;
        border-radius: 15px;
        overflow: hidden;
        background-color: #fff;
        padding: 20px;
        // box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    .promo-img {
        width: 100%;
        border-radius: 10px;
    }
    .promo-card h1{
      font-family: Inter;
      font-weight: 600;
      font-size: 45px;
      line-height: 66px;
      letter-spacing: 0%;
      
color: #393280;

    }
    .promo-card p{
      font-family: Inter;
font-weight: 400;
font-size: 18px;
line-height: 32px;
letter-spacing: 5%;
color: #393280;

    }
    .countdown {
        font-size: 1.5rem;
        font-weight: bold;
        color: #e74c3c;
    }
    .view-more-btn {
        background-color: #3498db;
        color: white;
        border: none;
        border-radius: 5px;
    }
    .view-more-btn:hover {
        background-color: #2980b9;
    }
    ul{
    list-style: none;
    }