<div class="container slider p-0 m-0">
  <div class="row">
    <div
      class="col-md-6 vh-100 d-flex justify-content-center align-items-center"
    >
      <div
        class="d-flex flex-column h-100 mx-auto py-3 justify-content-center ms-5"
      >
        <h1>ipsum dolor si</h1>
        <b
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu
          feugiat amet, libero ipsum enim pharetra hac. Urna commodo, lacus ut
          magna velit eleifend. Amet, quis urna, a eu.</b
        >
        <button
          class="btn btnSlider d-flex justify-content-center align-items-center mt-2"
        >
          Read more<mat-icon>chevron_right</mat-icon>
        </button>
        <ul class="d-flex justify-content-between mt-5">
          <li class="item1 circle"><a class="inner-dot"></a></li>
          <li class="small-circles small-circle mt-3"></li>
          <li class="small-circles small-circle mt-3"></li>
          <li class="small-circles small-circle mt-3"></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <img
        src="img/E-raamatud ja audioraamatud sisselogimata 1.png"
        class="w-100"
        alt=""
      />
    </div>
  </div>
</div>

<div class="container py-5">
  <p class="text-danger mb-1">Categories</p>
  <h2 class="section-title mb-4">Explore our Top Categories</h2>

  <div class="row g-4">
    <div class="col-md-4" *ngFor="let item of categry">
      <div class="card h-100 text-center">
        <img
          src="img/Rectangle 11.png"
          class="card-img-top"
          alt="{{ item.name }}"
        />
        <div class="card-body">
          <h1 class="card-title">{{ item.description }}</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4 text-center">
    <button
      class="btn view-more-btn"
      (click)="goToRegister()"
      routerLink="/books"
    >
      VIEW MORE <i class="fas fa-arrow-right"></i>
    </button>
  </div>
</div>

<app-slider3></app-slider3>
<app-slaider4></app-slaider4>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-7">
      <div class="promo-card text-center ">
        <h1 >All books are 50% off now! Don't miss such a deal!</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu
          feugiat amet, libero ipsum enim pharetra hac.
        </p>
        <div class="countdown mb-3  ">
         <ul class="d-flex justify-content-between">
          <li class="d-flex flex-column"> 
            768 <span>DAYS</span> 
         </li>
         <li class="d-flex flex-column"> 01 <span>HOUR</span> 
         </li>
         <li class="d-flex flex-column"> 27 <span>MINUTES </span>
          </li><li  class="d-flex flex-column">55 <span>SECONDS</span></li>
        </ul>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <img src="img/Unsplash.png" class="promo-img w-100 h-100" alt="Books" />
    </div>
  </div>
</div>
