.btn1{
    width: 400;
height: 60;
top: 854px;
left: 880px;
border-radius: 4px;
padding-top: 10px;
padding-right: 150px;
padding-bottom: 10px;
padding-left: 150px;
gap: 10px;
background: #EF6B4A;

  }
  p{
    font-family: Manrope;
font-weight: 600;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
color: #09093799;

  }
  h1{
    font-family: Manrope;
font-weight: 700;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;
color: #090937;

  }