<nav class="navbar navbar-expand-lg bg-body-tertiary ">
  <div class="container-fluid">
    <a class="navbar-brand" > 
        <button mat-icon-button>
        <fa-icon [icon]="faPhone" ></fa-icon>
      </button>
     <span> +91 8374902234</span></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
            
            <a class="nav-link active" aria-current="page" href="#"> 
              
                <button mat-icon-button>
                    <fa-icon [icon]="faFacebook"></fa-icon>
                  </button>
            </a>  
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> 
            <button mat-icon-button>
            <fa-icon [icon]="faInstagram"></fa-icon>
          </button>
        </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link "
            href="#"
         
          >
          <button mat-icon-button>
            <fa-icon [icon]="faLinkedin"></fa-icon>
          </button>
          </a>
         
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#" >
            <button mat-icon-button>
                <fa-icon [icon]="faTwitter" ></fa-icon>
              </button>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#" >
                <button mat-icon-button  (click)="goToRegister()"  routerLink="/change-password">
                    <fa-icon [icon]="faKey"></fa-icon>
                  </button>
            </a>
          </li>
      </ul>
     
    </div>
  </div>
</nav>

  
   
  
