<p>rest-password works!</p>
<form class="text-center" [formGroup]="loginForm">
    <div class="row">
       <div class="col-md-12"> <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
     
        <mat-error *ngIf="emailFormControl?.hasError('required')">
          Email is required
        </mat-error>
        
        <mat-error *ngIf="emailFormControl?.hasError('email') && !emailFormControl?.hasError('required')">
          Please enter a valid email address
        </mat-error>
      
      </mat-form-field></div>
      <div class="col-md-12"> 
        <mat-form-field appearance="fill" class="input-field">
          <mat-label>OTP</mat-label>
          <input matInput formControlName="otp" placeholder="Enter OTP" maxlength="6"  type="text" />
          <mat-error *ngIf="loginForm.get('otp')?.hasError('pattern')">
            OTP is required.
          </mat-error>
          <mat-error *ngIf="loginForm.get('otp')?.hasError('pattern')">
            OTP must be 6 digits.
          </mat-error>
        </mat-form-field>
    </div>
        <div class="col-md-12"> 
            <div class="example-container ">
                <mat-form-field >
                  <mat-label>Enter your password</mat-label>
                  <input formControlName="password" matInput [type]="hide() ? 'password' : 'text'" />
                  <button
                  type="button"
                    mat-icon-button
                    matSuffix
                    (click)="clickEvent($event)"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide()"
                  >
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>
                 
                </div>
        </div>
    </div>
    <div class="d-flex flex-column ">
        <button class="btn btn1 mb-3 mt-3"  (click)="sentdata(loginForm)"   routerLink="/login" >send</button>
        <button type="button" class="btn btn2 ">Login</button></div>
</form>
