

<div class="container py-5">
    <div class="row">
      
      <div class="col-md-3 mb-4">
        <h5>Filters</h5>
        <div class="accordion" id="filters">
          <div class="accordion-item">
            <h2 class="accordion-header" id="priceHeading">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#priceCollapse">
                Price
              </button>
            </h2>
            <div id="priceCollapse" class="accordion-collapse collapse" data-bs-parent="#filters">
              <div class="accordion-body">
                <input type="range" class="form-range" min="0" max="100" id="priceRange">
              </div>
            </div>
          </div>
  
          <div class="accordion-item">
            <h2 class="accordion-header" id="categoryHeading">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#categoryCollapse">
                Category
              </button>
            </h2>
            <div id="categoryCollapse" class="accordion-collapse collapse" data-bs-parent="#filters">
              <div class="accordion-body">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="fiction">
                  <label class="form-check-label" for="fiction">Fiction</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="nonfiction">
                  <label class="form-check-label" for="nonfiction">Non-Fiction</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    
      <div class="col-md-9">
        <div class="row g-4">
          
      
  <div class="col-sm-6 col-lg-4" *ngFor="let item of books.data">

  <div class="book-card">
    <img src="img/book3 4.png" class="book-img" alt="Book">
    <div class="book-title">{{ item.name }}</div>
    <div class="book-price">${{ item.price }}</div>  
    <button class="btn  add-to-cart" (click)="addToBasket(item._id)">Add to Cart</button>
  </div>
</div>


        </div>
      </div>
    </div>
  </div>

